*{
    margin: 0%;
}

.container{
    display: grid;
    width: 100%;
    height: 150vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr 4fr 4fr 7fr 5fr 3fr;

}
.item1{
    /* background-color: red; */
    grid-column-start: 1;
    grid-column-end: 3;
}
.item2{
    /* background-color: yellow; */
}
.item3{
    /* background-color: green; */
}
.item4{
    /* background-color: blue; */
    grid-row-start: 3;
    grid-row-end: 5;
}
.item5{
    /* background-color: gray; */
}
.item6{
    /* background-color: gold; */
}
.item7{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item8{
    /* background-color: rebeccapurple; */
    grid-column-start: 1;
    grid-column-end: 3;
}

.para{
    margin: 20px 30px 20px 30px;
}

.image2{
    width: 100%;
    height: 100%;
}

.form_container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

.input_box{
    margin: 2px 5px;
}
.input_label{
    margin-left: 20px;
}
.image1{
    height: 100%;
    width: 100%;
}
.header_container{
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.description{
    margin: auto 200px auto 200px;
}
.contact{
    text-align: center;
}
.link{
    text-decoration: underline;
    color: #da2494;
}

@media screen and (max-width : 450px){
    .container{
        display: grid;
        width: 100%;
        height: 300vh;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 4fr 4fr 4fr 7fr 5fr 3fr;
    
    }
}


